<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/proba" method="post">
  Fájl neve:
  <input type="text" name="name">
    <!--
    <input type="text" name="paramGackenden">
    -->
  <input type="submit">
</form>

<form action="/proba1" method="post">
     Titulus:
    <input type="text" name="title">
    Birthday:
    <input type="date" name="birthday">
    Email:
    <input type="text" name="email">
    Családnév:
    <input type="text" name="familyName">
    Utónév:
    <input type="text" name="firstName">
    Jelszó:
    <input type="text" name="password">

    <!--
    <input type="text" name="paramGackenden">
    -->
    <input type="submit">
</form>

<form action="/proba2" method="post">
    A bírálat kezdete:
    <input type="date" name="invitationDate">
    Pontszám:
    <input type="text" name="score">
    Leírás:
    <input type="text" name="description">
    Település:
    <input type="text" name="city">
    Válaszadás dátuma:
    <input type="date" name="responseDate">
    A feltöltés dátuma:
    <input type="date" name="submissionDate">

    <!--
    <input type="text" name="paramGackenden">
    -->
    <input type="submit">
</form>

<form action="/proba3" method="post">
    A szakdolgozat címe:
    <input type="text" name="title">
    Egyetemi kar:
    <input type="text" name="faculty">
    Tanszék:
    <input type="text" name="department">
    Szak:
    <input type="text" name="speciality">
    Nyelv:
    <input type="text" name="language">
    A védés pontszáma:
    <input type="number" name="defenseScore">
    A tárgyra kapott pontszám:
    <input type="number" name="subjectScore">
    A végső pontszám:
    <input type="number" name="finalScore">

    <!--
    <input type="text" name="paramGackenden">
    -->
    <input type="submit">
</form>

<form action="/probaUpload" method="post" enctype="multipart/form-data">

    Fájl feltöltés:
    <input type="file" name="file">


    <input type="submit">


</form>

<form action="/probaMessage" method="post" enctype="multipart/form-data">

    Üzenet küldés:
    <input type="file" name="file">


    <input type="submit">


</form>


</body>
</html>